.tm-tabs {
	
}

.tm-tab-content {
	border: #e7e7e7 solid 1px;
	border-radius: 4px;
    overflow-y: scroll;
    height: 430px;
}

.tm-tab-container {
	display: inline-block;
	border: #e7e7e7 solid 1px;
	background-color: ;
	border-radius: 4px;
	width: 570px;
	height: 500px;
	padding: 10px;
	margin: 10px 0 0 10px;
}

.tm-employee-table {
	width: 500px;
}

.tm-team-container {
	display: inline-block;
	margin: 15px 0 0 20px;
    vertical-align: top;
}

.tm-team-list {
	width: 500px;
	height: 500px;
}